@import url("https://fonts.googleapis.com/css2?family=Allura&family=IM+Fell+DW+Pica:ital@0;1&family=Noto+Serif+Ahom&family=Open+Sans&display=swap");
:root {
  --darkred: #8b0000;
  --palewhite: #fff3c9;
  --yellow: #facf7f;
  --gray: #60695c;
  --dark: #08111b;
}

body {
  margin: 0;
  background-color: var(--dark);
  font-family: "Noto Serif Ahom", serif;
  /* font-family: "IM Fell DW Pica", serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.3px;
  color: var(--palewhite) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img.bunlogo {
  width: 60px;
  padding: 10px 10px 0 10px;
}

h1 {
  display: inline-block;
}

.background {
  background-color: var(--dark);
}

#bunboardtitle {
  display: none;
}
img.door {
  padding-top: 3em;
}
